%body
  .wrapper
    .side-contents
      .side-contents__header
        %p.side-contents__header__user-name
          =current_user.name
        %ul.side-contents__header__menu
          %li.side-contents__header__menu__link
            = link_to new_group_path do
              %i.fa.fa-edit
          %li.side-contents__header__menu__link
            = link_to edit_user_path(current_user.id) do
              %i.fa.fa-cog
      .side-contents__groups
        .side-contents__groups__group
          = render "group"
    .chat
      .chat__header
        .chat__header__group
          %p.chat__header__group__name TEST-group-name
          %ul.chat__header__group__member-list
            Member：
            %li.chat__header__group__member-list__member
              =current_user.name
        .chat__header__edit
          = link_to "Edit", "/groups/1/edit"
      .chat__main
        = render "message"
      .form
        %from.form__message
          .form__message__input
            %input.form__message__input__text{placeholder: "type a message", type: "text"}
            %label.form__message__input__image-label{for: "upload-icon"}
              %i.fa.fa-image.fa-lg
              %input.form__message__input__image-label__image{type: "file", id: "upload-icon"}
          %input.form__message__input__submit{type:"submit", value:"Send"}
